<h4>About Us</h4>
<p>
ABOUT US
RENOMANIA was founded by Lance Marryatt.
Lance was born in Lower Hutt and raised on the Kapiti Coast.
He left school and completed a Furniture/ Cabinetmaking apprenticeship working with native and exotic timbers.
Since then Lance has been a drummer in bands, travelled to many countries around the world and worked on building
sites in Sydney , Melbourne, London and Wellington. Installing Fashion Show cat walks to Kitchens, Saunas and Steam
rooms, Joinery, Wardrobes to Roofing iron, and has worked on “THE HOBBIT” movies making all kinds of furniture and
props.He has also been a landlord since 2006 and is familiar with the trials and tribulations of owning rental property
and all the necessary upgrades and repairs associated, as well as doing a larger scale renovation on his own home
where he lives with his partner and two lovely daughters on the Kapiti Coast.
The aim of RENOMANIA is to help Homeowners/ Landlords and Property Managers find reputable trades people and all
renovation and home improvement services, making the job of owning, repairing or renovating, building your home faster,
easier and with LESS STRESS!!!
Homeowners can list any job from a broken window to a major renovation. Ask for a quote/estimate or just contact
businesses directly. We ask them to review completed jobs companies and businesses so future searches can indicate
a person or company that is reliable and trustworthy, giving you confidence and peace of mind while avoiding those
tradesmen who never get back to you or just never show up!!
RENOMANIA is looking to the Wellington region to begin its initial service. Other regions will be added over time,
however, we welcome you all so get in touch so you can get started, the early bird catches the worm!….list your
business for free here.</p>