<div class="row" id="gray">
  <div class="large-12 columns text-center mmargin mmargin-top">
  <div class="h2color">
    <h2>About renomania.co.nz </h2>
  </div>
  <!--<h4 class="slim secondary">-->
    <!--Veggies es bonus vobis, proinde vos postulo essum magis-->
    <!--kohlrabi welsh onion daikon amaranth tatsoi tomatillo-->
    <!--melon azuki bean garlic.-->
  <!--</h4>-->
  <br>
  <br>

          <p>RENOMANIA was founded by Lance Marryatt.</p>
  <p> Lance was born in Lower Hutt and raised on the Kapiti Coast.</p>
  <p>   He left school and completed a Furniture/ Cabinetmaking apprenticeship working with native and exotic timbers.</p>
  <p>  Since then Lance has been a drummer in bands, travelled to many countries around the world and worked on building</p>
  <p>   sites in Sydney , Melbourne, London and Wellington. Installing Fashion Show cat walks to Kitchens, Saunas and Steam</p>
  <p>    rooms, Joinery, Wardrobes to Roofing iron, and has worked on “THE HOBBIT” movies making all kinds of furniture and</p>
  <p>    props.He has also been a landlord since 2006 and is familiar with the trials and tribulations of owning rental property</p>
  <p>    and all the necessary upgrades and repairs associated, as well as doing a larger scale renovation on his own home</p>
  <p>     where he lives with his partner and two lovely daughters on the Kapiti Coast.</p>
  <p>      The aim of RENOMANIA is to help Homeowners/ Landlords and Property Managers find reputable trades people and all</p>
  <p>     renovation and home improvement services, making the job of owning, repairing or renovating, building your home faster,</p>
  <p>     easier and with LESS STRESS!!!</p>
  <p>     Homeowners can list any job from a broken window to a major renovation. Ask for a quote/estimate or just contact</p>
  <p>     businesses directly. We ask them to review completed jobs companies and businesses so future searches can indicate</p>
  <p>     a person or company that is reliable and trustworthy, giving you confidence and peace of mind while avoiding those</p>
  <p>     tradesmen who never get back to you or just never show up!!</p>
  <p>    RENOMANIA is looking to the Wellington region to begin its initial service. Other regions will be added over time,</p>
  <p>    however, we welcome you all so get in touch so you can get started, the early bird catches the worm!….list your</p>
  <p>    business for free here.</p>
  <p>           <em>all day</em>.</p>


      </div>
    </div>
