<div class="row full-width">

  <div class="slider">
    <ul class="orbit" data-orbit>
      <li>
        <div class="12-large-columns columns text-center" id="head">
          <div id="tweeter" class="text-left secondary">
            <em>@renomania: Welcome Home you are welcome</em>
          </div>
          <h2 class="mmargin mmargin-top text-center">
            <!--<img src="../assets/images/icohouse.png" />-->
            slide1
          </h2>
          <!--<img src="../assets/images/house.png" alt="home" />-->
          <br>
          <p><input type="submit" class="button radius"></p>
        </div>
      </li>
      <li>
        <div class="12-large-columns columns text-center" id="head">
          <div id="tweeter" class="text-left secondary">
            <em>@renomania: Welcome Home you are welcome</em>
          </div>
          <h2 class="mmargin mmargin-top text-center">
            slide2
          </h2>
          <!--<img src="../assets/images/house.png" alt="home" />-->
          <br>
          <p><input type="submit" class="button radius"></p>
        </div>
      </li>
      <li>
        <div class="12-large-columns columns text-center" id="head">
          <div id="tweeter" class="text-left secondary">
            <em>@renomania: You are welcome here</em>
          </div>
          <h2 class="mmargin mmargin-top text-center">
            slide3
          </h2>
          <!--<img src="../assets/images/house.png" alt="home" />-->
          <br>
          <p><input type="submit" class="button radius"></p>
        </div>
      </li>
    </ul>
  </div>

  <div class="down-triangle-white"></div>



  <div class="down-triangle-gray"></div>

  <div class="row inner" id="white">

    <div class="12-large-columns columns text-center">

      <h2 class="mmargin mmargin-top text-center">
        slide3
      </h2>
      <!--<img src="../assets/images/house.png" alt="home" />-->
      <br>
      <p><input type="submit" class="button radius"></p>


    </div>
  </div>

</div>

  </hr>
 
   
 
 
   
 