<h1>StaticPages#faq</h1>
<p>FAQ
  1. HOW DOES IT WORK?
  Trades people and all Property Service businesses enjoy FREE LISTINGS with RENOMANIA.
  Simply create a portfolio with your contact details, quote for any listed jobs and encourage your customers to leave
  reviews regarding your work. Our website filter will alert you of relevant work that is in the system. The sooner you
  get started the sooner you get a track record and build up a history, giving potential clients confidence in your
  abilities and level of service.
  Homeowners, Landlords and Property Managers, are able to browse Trades/ Property Services listings FREE.
  Homeowners, Landlords and property Managers, or anyone wishing to get a job done around the home, be it a fence or
  deck built, a driveway done, some painting, spouting repairs, new roof, new bathroom, new kitchen etc. etc etc.
  Can POST A JOB, FREE on Renomania.
  2. WHAT DOES IT COST?
  To list your business with Renomania is FREE.
  To browse listings, read reviews, and get contact details of Trades People and Property Services is FREE.
  To post a job on Renomania is FREE.
  Renomania may introduce premium services in the future which may require subscription or payment.
  3. I’M NOT HAPPY WITH THE JOB THAT’S BEEN DONE, WHAT CAN I DO??
  Once you have agreed on a quote, or given a company or person approval to begin a job, this becomes an agreement
  between you and the contractor or business/ company.
  Renomania does not take any responsibility/ accept any liability for any disagreement between the two parties.
  Although we are willing to mediate if requested by either party.
  THERE ARE WAYS TO LIMIT THE POTENTIAL FOR DISSAPOINTMENT!!
  a. Get things in writing. Make sure you know what is being quoted for.
  b. Be very clear in your instructions and make sure the contractor knows what you want. Its no good waiting till the
  end of a job to say “ oh no I didn’t mean like that, I meant like this”
  c. If you make a lot of changes during a job you will incur “extra’s” fees, as any extra’s will not be quoted for.
  d. Remember there are a myriad of local council by laws, national laws and restrictions. These are unavoidable and
  can add considerable cost to a project. This is not the trades persons fault.
  e. To limit the potential of loss ask the contractor if he has public liability insurance.
  f. Is the contractor registered/ licensed?
  g. Take photo’s of progress.
  h. Be aware that once you start removing interior and/or exterior wall linings there is a good chance you are up for
  extra work as you could be opening up a proverbial can of worms, this is not the fault of the Trades person.
  i. Bad weather can have an impact on jobs, causing delays and frustrations, this is nobody’s fault.
  j. Be realistic and expect a few hiccups along the way.
  k. If you are not happy with something, raise your concerns in a non confrontational way and in most cases you will
  find people very willing to make things right and to get a satisfactory outcome. Good communication is paramount.
  l. Try, Try, Try to work out your budget and costs beforehand, if its just repairs to your home thats ok but for a
  major renovation it is soo easy to blow your budget by a country mile. DO YOUR HOMEWORK.
  4. A CUSTOMER HAS LEFT AN UNFAIRLY BAD REVIEW, WHAT CAN I DO?
  Each party has the right of reply in the first instance.
  Renomania reserves the right to moderate or remove any abusive or unfair reviews without prior notice or warning.
  Renomania reserves the right to investigate and try to resolve any disagreements.
  Renomania reserves the right to suspend or remove any members without notice or prior warning.
  Consistent bad reviews (3 in a row) will result in the company or person being permanently removed form the website.
  To reduce the chance of a bad review, it is advisable to communicate well with your potential client. Make sure you
  are both on the same page with the job details. If necessary, put it on paper. This way both parties can see clearly
  the scope of the job. Otherwise be clear in what you intend to do.
  Be punctual, if you say you’ll be there at 10am, please try and be there at 10am, if you cant make it please contact
  the owners and let them know.
  Be tidy, please be as tidy as possible, cleaning up after the days work. Its not nice for the clients to come home
  from work to a mess. Knock off a bit earlier if necessary.
  Clients will appreciate you making an effort and will be far less likely to leave any bad reviews.
  Communicate well and show respect, be aware that other nationalities have different protocols expectations. Eg; ask
  if its ok to wear shoes inside the house! Take some alternative footwear if necessary…
