<div class="row" id="gray">
  <div class="large-12 columns text-center mmargin mmargin-top">
    <div class="h2color">
      <h2>About renomania.co.nz </h2>
    </div>

<section>
  <div class="h4color">
    <h4>1. HOW DOES IT WORK? </h4>
  </div>
 <p>Trades people and all Property Service businesses enjoy FREE LISTINGS with RENOMANIA.</p>
  <p> Simply create a portfolio with your contact details, quote for any listed jobs and encourage your customers to leave</p>
  <p>reviews regarding your work. Our website filter will alert you of relevant work that is in the system. The sooner you</p>
  <p>get started the sooner you get a track record and build up a history, giving potential clients confidence in your</p>
  <p>abilities and level of service.</p>

  <p>Homeowners, Landlords and Property Managers, are able to browse Trades/ Property Services listings FREE.</p>
  <p>Homeowners, Landlords and property Managers, or anyone wishing to get a job done around the home, be it a fence or</p>
  <p>deck built, a driveway done, some painting, spouting repairs, new roof, new bathroom, new kitchen etc. etc etc.</p>
  <p>Can POST A JOB, FREE on Renomania.</p>
  </section>
<hr>
  <section>
    <div class="h4color">
 <h4>2. WHAT DOES IT COST?</h4>
      </div>
 <p>To list your business with RENOMANIA is FREE.</p>
    <p>To browse listings, read reviews, and get contact details of Trades People and Property Services is FREE.</p>
    <p>To post a job on RENOMANIA is FREE.</p>
    <p>Renomania may introduce premium services in the future which may require subscription or payment.</p>
      </section>
<hr>
<section>
  <div class="h4color">
  <h4>3. I’M NOT HAPPY WITH THE JOB THAT’S BEEN DONE, WHAT CAN I DO??</h4>
</div>
  <p>Once you have agreed on a quote, or given a company or person approval to begin a job, this becomes an agreement</p>
  <p>between you and the contractor or business/ company.</p>



  <p>RENOMANIA does not take any responsibility/ accept any liability for any disagreement between the two parties.</p>
  <p>Although we are willing to mediate if requested by either party.</p>


  <p><b>THERE ARE WAYS TO LIMIT THE POTENTIAL FOR DISSAPOINTMENT!!</b></p>

  <p>a. Get things in writing. Make sure you know what is being quoted for.</p>
  <p>b. Be very clear in your instructions and make sure the contractor knows what you want. Its no good waiting till the</p>
  <p>end of a job to say “ oh no I didn’t mean like that, I meant like this”</p>
  <p>c. If you make a lot of changes during a job you will incur “extra’s” fees, as any extra’s will not be quoted for.</p>
  <p>d. Remember there are a myriad of local council by laws, national laws and restrictions. These are unavoidable and</p>
  <p>can add considerable cost to a project. This is not the trades persons fault.</p>
  <p>e. To limit the potential of loss ask the contractor if he has public liability insurance.</p>
  <p>f. Is the contractor registered/ licensed?</p>
  <p>g. Take photo’s of progress.</p>
  <p>h. Be aware that once you start removing interior and/or exterior wall linings there is a good chance you are up for</p>
  <p>extra work as you could be opening up a proverbial can of worms, this is not the fault of the Trades person.</p>
  <p>i. Bad weather can have an impact on jobs, causing delays and frustrations, this is nobody’s fault.</p>
  <p>j. Be realistic and expect a few hiccups along the way.</p>
  <p>k. If you are not happy with something, raise your concerns in a non confrontational way and in most cases you will</p>
  <p>find people very willing to make things right and to get a satisfactory outcome. Good communication is paramount.</p>
  <p>l. Try, Try, Try to work out your budget and costs beforehand, if its just repairs to your home thats ok but for a</p>
 <p>major renovation it is soo easy to blow your budget by a country mile. DO YOUR HOMEWORK.</p>
</section>
  <hr>
<section>

  <div class="h4color">
  <h4>4. A CUSTOMER HAS LEFT AN UNFAIRLY BAD REVIEW, WHAT CAN I DO?</h4>
    </div>
  <p>Each party has the right of reply in the first instance.</p>
  <p>Renomania reserves the right to moderate or remove any abusive or unfair reviews without prior notice or warning.</p>
  <p>Renomania reserves the right to investigate and try to resolve any disagreements.</p>
  <p>Renomania reserves the right to suspend or remove any members without notice or prior warning.</p>
  <p>Consistent bad reviews (3 in a row) will result in the company or person being permanently removed form the website.</p>
  <p>To reduce the chance of a bad review, it is advisable to communicate well with your potential client. Make sure you</p>
  <p>are both on the same page with the job details. If necessary, put it on paper. This way both parties can see clearly</p>
  <p>the scope of the job. Otherwise be clear in what you intend to do.</p>
  <p>Be punctual, if you say you’ll be there at 10am, please try and be there at 10am, if you cant make it please contact</p>
  <p>the owners and let them know.</p>
  <p>Be tidy, please be as tidy as possible, cleaning up after the days work. Its not nice for the clients to come home</p>
  <p>from work to a mess. Knock off a bit earlier if necessary.</p>
  <p>Clients will appreciate you making an effort and will be far less likely to leave any bad reviews.</p>
  <p>Communicate well and show respect, be aware that other nationalities have different protocols expectations. Eg; ask</p>
  <p>if its ok to wear shoes inside the house! Take some alternative footwear if necessary…</p>
</section>

</div>
    </div>

