<div class="row">

  <div class="small-8 large-centered columns  mmargin mmargin-top">
<h3>Users</h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %> signed up <%= user.created_at.to_date %>
    </li>
  <% end %>
</ul>

</div>
    </div>


