<div data-interchange="[../examples/interchange/default.html, (small)], [../examples/interchange/medium.html, (medium)], [../examples/interchange/large.html, (large)]">
  <div data-alert class="alert-box secondary radius">
    Write me message if you want to cooperate  :)
    <a href="#" class="close">&times;</a>
  </div>
</div>

<<<<<<< Updated upstream
<div class="row fullblue">
  <div class="medium-8 medium-centered columns centered-text">

<h2 class="cs-text">
  <span class="cs-text-cut">PETER</span>
  <span class="cs-text-mid">PORTFOLIO</span>
  <span class="cs-text-cut">KONA</span>
</h2>
    </div>
  </div>



<!--<div class="row fullwhite">-->

<!--</div>-->



</div>

<div class="row fullwhite">

</div>

<!--<figure> <img src="../assets/mandal.png" alt="img01">-->
  <!--<figcaption>-->
    <!--<h3>Camera</h3>-->
    <!--<span>Jacob Cummings</span> <a href="#">Take a look</a> </figcaption>-->
<!--</figure>-->


<div class="row fullgreeenn">
      <div class="medium-8 medium-centered columns centered-text">
        <section>
          <div class="large-3 columns">
            <a  href="http://stark-woodland-9075.herokuapp.com">
              <img src="../assets/dream.png" id="circle" class="ec-circle" >
            </a>
          </div>


          <div class="large-3 columns">
            <a href="http://stanleypedigree.com">
              <img src="../assets/stanley.png" id="circle" class="ec-circle" >
            </a>
            </a>
          </div>
          <div class="large-3 columns">
            <a  href="../assets/ast.png">
              <img src="../assets/ast.png"id="circle" class="ec-circle">
            </a>
          </div>
          <div class="large-3 columns">
            <a href="../assets/slon.jpg">
              <img src="../assets/slon.jpg" id="circle" class="ec-circle">
            </a>
            </a>
          </div>
    </section>
    </div>
  </div>



<div class="row fullwhite">

</div>

<div class="row fullgreeenn">
  <div class="medium-8 medium-centered columns centered-text">
    <section>
      <div class="large-3 columns">
        <a  href="../assets/man.png">
          <img src="../assets/man.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="../assets/face.png">
          <img src="../assets/face.png" id="circle" class="ec-circle" >
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="../assets/print.gif">
          <img src="../assets/print.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="../assets/logo.png">
          <img src="../assets/logo.png" id="circle" class="ec-circle">
        </a>
      </div>
    </section>
  </div>
</div>

<div class="row fullwhite">

</div>

<div class="row fullgreeenn">
  <div class="medium-8 medium-centered columns centered-text">
    <section>
      <div class="large-3 columns">
        <a  href="#">
          <img src="../assets/strong.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="#">
          <img src="../assets/mat.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a href="#">
          <img src="../assets/anotherface.png" id="circle" class="ec-circle" >
        </a>
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="#">
          <div class="image">
            <img src="../assets/cer.png" id="circle" class="ec-circle">
          </div>
        </a>
      </div>
    </section>
  </div>
</div>

<div class="row fullwhite">

</div>

<div class="row fullgreeenn">
  <div class="medium-8 medium-centered columns centered-text">
    <section>
      <div class="large-3 columns">
        <a  href="#">
          <img src="../assets/mandal.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="#">
          <img src="../assets/button.png" id="circle" class="ec-circle">
        </a>
      </div>
      <div class="large-3 columns">
        <a href="#">
          <img src="../assets/fac.png" id="circle" class="ec-circle" >
        </a>
        </a>
      </div>
      <div class="large-3 columns">
        <a  href="#">
          <div class="image">
            <img src="../assets/budha.png" id="circle" class="ec-circle">
          </div>
        </a>
      </div>
    </section>
  </div>
</div>


<div class="row fullwhite">

</div>

<div class="row fullgreen">
  <div class="medium-8 medium-centered columns centered-text">
    <h2> Gumbo beet greens corn soko endive
      gumbo gourd. Parsley shallot courgette
      tatsoi pea sprouts fava bean collard
      greens dandelion okra wakame tomato.
      Dandelion cucumber earthnut pea peanut
      soko zucchini.</h2>
=======

<div class="row fullwhite">

  <p>
    Download:
    <%= link_to "CSV", products_path(format: "csv") %> |
    <%= link_to "Excel", products_path(format: "xls") %>
  </p>

</div>



<div class="row fullblue">
  <div class="medium-8 medium-centered columns centered-text">

<h2 class="cs-text">
  <span class="cs-text-cut">Aktuálny</span>
  <span class="cs-text-mid"><h3><%= @time %></h3></span>
  <span class="cs-text-cut">Čas</span>
</h2>
    </div>
  </div>

  <div class="small-8 large-centered columns text-center mmargin mmargin-top">



    <div class="row fullwhite">
      </div>


<div class="row fullwhite">
  <div class="small-8 large-centered columns text-center mmargin mmargin-top">
    <p><img src="/assets/hands.png" </p>
>>>>>>> Stashed changes
  </div>
</div>
</div>






<<<<<<< Updated upstream
=======

>>>>>>> Stashed changes


