<div class="row full-width" >
<div class="slider">
  <ul class="orbit" data-orbit>

    <li>
    <div class="12-large-columns columns text-center" id="head">
        <div id="tweeter" class="text-left secondary">
          <em>@renomania: Welcome Home you are welcome</em>

        </div>
    <h2 class="mmargin mmargin-top text-center">
      <!--<img src="../assets/images/icohouse.png" />-->
      slide1

    </h2>
    <!--<img src="../assets/images/house.png" alt="home" />-->
    <br></br
    <p><input type="submit" class="button radius"></p>
   </div>
      </li>

    <li>
      <div class="12-large-columns columns text-center" id="head">
        <div id="tweeter" class="text-left secondary">
          <em>@renomania: Welcome Home you are welcome</em>

        </div>
        <h2 class="mmargin mmargin-top text-center">
          slide2
        </h2>
        <!--<img src="../assets/images/house.png" alt="home" />-->
        <br></br
        <p><input type="submit" class="button radius"></p>
      </div>
    </li>

    <li>
      <div class="12-large-columns columns text-center" id="head">
        <div id="tweeter" class="text-left secondary">
          <em>@renomania: ou are welcome</em>

        </div>
        <h2 class="mmargin mmargin-top text-center">
          slide3

        </h2>
        <!--<img src="../assets/images/house.png" alt="home" />-->
        <br></br
        <p><input type="submit" class="button radius"></p>
      </div>
    </li>


    </ul>
  </div>
</div>


<div class="down-triangle-white"></div>

<div class="row inner" id="gray">

  <div class="large-12 columns text-center mmargin mmargin-top">
    <div class="h2color">
  <h2>Amaranth tatsoi tomatillo.</h2>
      </div>
  <h4 class="slim secondary">
    Veggies es bonus vobis, proinde vos postulo essum magis
    kohlrabi welsh onion daikon amaranth tatsoi tomatillo
    melon azuki bean garlic.
  </h4>

    <div class="row inner" id="gray">
      <div class="large-12 columns text-center mmargin mmargin-top">


        <div class="large-2 columns">
          <img src="../assets/images/icorocket.png" />
          <p>Do you need rocket engineer?</p>
        </div>
        <div class="large-2 columns">
          <img src="../assets/images/icotaylor.png" />
          <p>Do you need taylor?</p>
        </div>

        <div class="large-2 columns">
          <img src="../assets/images/icopainter.png" />
          <p>Do you need painter?</p>
        </div>

        <div class="large-2 columns">
          <img src="../assets/images/iconegineer.png" />
          <p>Do you need engineer?</p>
        </div>
        <div class="large-2 columns">
          <img src="../assets/images/icobuilder.png" />
          <p>Do you need builder?</p>
        </div>

        <div class="large-2 columns">
          <img src="../assets/images/icogardener.png" />
          <p>Do you need gardener?</p>
        </div>
        <div class="row inner" id="gray">


          <div class="h2color">
            <h2>Log in and try</h2>
          </div>
          <h4 class="slim secondary">
            Amaranth tatsoi tomatillo
            <input type="submit" class="button radius">
          </h4>
        </div>

      </div>



</div>
<div class="down-triangle-gray"></div>
  <!--<div class="hide-for-small">-->
<!--<div class="row">-->
  <!--<div class="slider">-->
<!--<ul class="orbit" data-orbit>-->
  <!--<li>-->
    <!--<img src="../assets/images/banner3.png" alt="slide 3" />-->
  <!--</li>-->
  <!--<li class="active">-->
    <!--<img src="../assets/images/banner.png" alt="slide 1" />-->
  <!--</li>-->
  <!--&lt;!&ndash;<li>&ndash;&gt;-->
    <!--&lt;!&ndash;<img src="../assets/images/banner2.png" alt="slide 2" />&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->

  <!--<li>-->
    <!--<img src="../assets/images/charles.png" alt="slide 4" />-->
  <!--</li>-->
<!--</ul>-->
<!--</div>-->
    <!--</div>-->
      <!--</div>-->

</hr>

<div class="row inner" id="green">
  <div class="large-12 columns text-center mmargin mmargin-top">


      <div class="large-4 columns text-center">
       <img class="opacity" src="../assets/images/pen.png" /></a>
      <h2>Sign Up</h2>
        <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns text-center">
     <img class="opacity" src="../assets/images/write.png" /></a>
      <h2>Contact Us</h2>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns text-center">
     <img class="opacity" src="../assets/images/quest.png" /></a>
      <h2>FAQ</h2>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>
        </div>
 </div>

<div class="down-triangle-dgreen"></div>
</hr>

<div class="row inner" id="dgreen">
  <div class="large-12 columns text-center mmargin mmargin-top">

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/6" />
        <h7>This is a content.</h7>
      </div>

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/5" />
        <h7>This is a content.</h7>

      </div>

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/4" />
        <h7>This is a content.</h7>

      </div>

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/3" />
        <h7>This is a content.</h7>

      </div>

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/2" />
        <h7>This is a content.</h7>

      </div>

      <div class="large-2 columns">
        <img src="http://lorempixel.com/400/300/city/1" />
        <h7>This is a content.</h7>
      </div>
    </div>
</div>

<div class="down-triangle-green"></div>

<div class="row inner" id="gray">
  <div class="large-12 columns text-center mmargin mmargin-top">


    <section>
      <div class="row">
        <div class="large-12 columns">
          <h2>FAQ</h2>
        </div>
      </div>
      <hr></hr>
    </section>

    <div class="row inner" id="faq">
      <div class="large-12 columns text-center mmargin mmargin-top">

        <h4>1. HOW DOES IT WORK?</h4>
        <p>Trades people and all Property Service businesses enjoy FREE LISTINGS with RENOMANIA.
          Simply create a portfolio with your contact details, quote for any listed jobs and encourage your customers to leave
          reviews regarding your work. Our website filter will alert you of relevant work that is in the system. The sooner you
          get started the sooner you get a track record and build up a history, giving potential clients confidence in your
          abilities and level of service.</p>

        <p>Homeowners, Landlords and Property Managers, are able to browse Trades/ Property Services listings FREE.
          Homeowners, Landlords and property Managers, or anyone wishing to get a job done around the home, be it a fence or
          deck built, a driveway done, some painting, spouting repairs, new roof, new bathroom, new kitchen etc. etc etc.
          Can POST A JOB, FREE on Renomania.</p>
      </div>
    </div>
    <hr></hr>
    <div class="row inner" id="faq">
      <div class="large-12 columns text-center mmargin mmargin-top">

        <h4>2. WHAT DOES IT COST?</h4>
        <p>To list your business with RENOMANIA is FREE.
          To browse listings, read reviews, and get contact details of Trades People and Property Services is FREE.
          To post a job on RENOMANIA is FREE.
          Renomania may introduce premium services in the future which may require subscription or payment.</p>
      </div>
    </div>
    <hr></hr>
    <div class="row inner" id="faq">
      <div class="large-12 columns text-center mmargin mmargin-top">
        <h4>3. I’M NOT HAPPY WITH THE JOB THAT’S BEEN DONE, WHAT CAN I DO??</h4>

        <p>Once you have agreed on a quote, or given a company or person approval to begin a job, this becomes an agreement
          between you and the contractor or business/ company.</p>

        <p>RENOMANIA does not take any responsibility/ accept any liability for any disagreement between the two parties.
          Although we are willing to mediate if requested by either party.


        <h5><b>THERE ARE WAYS TO LIMIT THE POTENTIAL FOR DISSAPOINTMENT!!</b><h5>

          <p>a. Get things in writing. Make sure you know what is being quoted for.</p>
          <p>b. Be very clear in your instructions and make sure the contractor knows what you want. Its no good waiting till the
            end of a job to say “ oh no I didn’t mean like that, I meant like this”</p>
          <p>c. If you make a lot of changes during a job you will incur “extra’s” fees, as any extra’s will not be quoted for.</p>
          <p>d. Remember there are a myriad of local council by laws, national laws and restrictions. These are unavoidable and
            can add considerable cost to a project. This is not the trades persons fault.</p>
          <p>e. To limit the potential of loss ask the contractor if he has public liability insurance.</p>
          <p>f. Is the contractor registered/ licensed?</p>
          <p>g. Take photo’s of progress.</p>
          <p>h. Be aware that once you start removing interior and/or exterior wall linings there is a good chance you are up for
            extra work as you could be opening up a proverbial can of worms, this is not the fault of the Trades person.</p>
          <p>i. Bad weather can have an impact on jobs, causing delays and frustrations, this is nobody’s fault.</p>
          <p>j. Be realistic and expect a few hiccups along the way.</p>
          <p>k. If you are not happy with something, raise your concerns in a non confrontational way and in most cases you will
            find people very willing to make things right and to get a satisfactory outcome. Good communication is paramount.</p>
          <p>l. Try, Try, Try to work out your budget and costs beforehand, if its just repairs to your home thats ok but for a
            major renovation it is soo easy to blow your budget by a country mile. DO YOUR HOMEWORK.</p>
      </div>
    </div>
    <hr></hr>
    <div class="row inner" id="faq">
      <div class="large-12 columns text-center mmargin mmargin-top">
        <h4>4. A CUSTOMER HAS LEFT AN UNFAIRLY BAD REVIEW, WHAT CAN I DO?</h4>
        <p>Each party has the right of reply in the first instance.</p>
        <p>Renomania reserves the right to moderate or remove any abusive or unfair reviews without prior notice or warning.</p>
        <p>Renomania reserves the right to investigate and try to resolve any disagreements.</p>
        <p>Renomania reserves the right to suspend or remove any members without notice or prior warning.</p>
        <p>Consistent bad reviews (3 in a row) will result in the company or person being permanently removed form the website.</p>
        <p>To reduce the chance of a bad review, it is advisable to communicate well with your potential client. Make sure you
        <p>are both on the same page with the job details. If necessary, put it on paper. This way both parties can see clearly</p>
        <p>the scope of the job. Otherwise be clear in what you intend to do.</p>
        <p>Be punctual, if you say you’ll be there at 10am, please try and be there at 10am, if you cant make it please contact</p>
        <p>the owners and let them know.</p>
        <p>Be tidy, please be as tidy as possible, cleaning up after the days work. Its not nice for the clients to come home</p>
        <p>from work to a mess. Knock off a bit earlier if necessary.</p>
        <p>Clients will appreciate you making an effort and will be far less likely to leave any bad reviews.</p>
        <p>Communicate well and show respect, be aware that other nationalities have different protocols expectations. Eg; ask</p>
        <p>if its ok to wear shoes inside the house! Take some alternative footwear if necessary…</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<hr></hr>





<!--<form>-->
    <!--<div class="row">-->
    <!--<div class="large-12 columns">-->
      <!--<div class="large-6 columns">-->
      <!--<div class="panel">-->
      <!--<p>Any question ?</p>-->
      <!--<p><input type="text" value="Name"></p>-->
      <!--<p><input type="text" value="Email Address"><input type="submit" class="tiny button radius right"></p>-->
    <!--</div>-->
    <!--</div>-->
      <!--</div>-->
    <!--</div>-->
<!--</form>-->



<!--<div class="row">-->
  <!--<div class="large-12 columns">-->

    <!--<div class="panel">-->
      <!--<h4>Get in touch!</h4>-->


      <!--<div class="row">-->
        <!--<div class="large-9 columns">-->
          <!--<p>We'd love to hear from you, you attractive person you.</p>-->
        <!--</div>-->
        <!--<div class="large-3 columns">-->
          <!--<a href="#" class="radius button right">Contact Us</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
      <!--</div>-->
    <!--</div>-->








