
<section>
  <img src="http://lorempixel.com/1170/600/city/9">
</section>

<!-- Three-up Content Blocks -->
<section>
  <div class="row">
    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/3" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/2" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/1" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

  </div>
</section>

<section>
  <img src="http://lorempixel.com/1170/600/city/6">
</section>

<section>
  <div class="row">
    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/10" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/1" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

    <div class="large-4 columns">
      <img src="http://lorempixel.com/400/300/city/5" />
      <h4>This is a content section.</h4>
      <p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>
    </div>

  </div>
</section>
<% @users.each do |user| %>
  <p>User: <%=link_to user.email, user %></p>
<% end %>

