
<div class ="row shadow">


<div class="slider shadow">
  <ul class="orbit" data-orbit>
    <li>
    <div class="12-large-columns columns text-center " id="head">
        <div id="tweeter" class="text-left secondary">
          <em>Hi and welcome to RENOmania! </em>
        </div>
    <h2 class="mmargin-top text-center">
      <!--<img src="../assets/images/icohouse.png" />-->
      We are building a base of reputable tradespeople
      and any other business involved with the
      building, repair, alteration and maintenance of
      what is essentially most people’s largest, most
      costly asset - their home.
    </h2>
    <!--<img src="../assets/images/house.png" alt="home" />-->
    <br>
     <p><a href = "../users/sign_up" input type="submit" class="button radius"> Sign up </a></p>
    </div>
      </li>
    <li>
      <div class="12-large-columns columns text-center red" id="headred">
        <div id="tweeterer" class="text-left secondary">
          <em>Hi and welcome to RENOmania! </em>
        </div>
        <h2 class="mmargin mmargin-top text-center">
          Tradespeople and businesses can build a portfolio
          of work while any one needing a job done around the home
          be it big or small can simply post up a job to the website
          and have people coming to them ready, willing and able.
        </h2>
        <!--<img src="../assets/images/house.png" alt="home" />-->
        <br>
        <p><a href = "../users/sign_up" input type="submit" class="button radius"> Sign up </a></p>
      </div>
    </li>

    </ul>
  </div>
  </div>

<div class="row">

  <div class="small-8 large-centered columns text-center mmargin mmargin-top">
    <div class="large-6 medium-6 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_up"><img src = "../assets/images/signup.png" class="circle icon-photo"></a>
      </div>
      <h3 class="mmargin mmargin-top text-center" >
        Sign up as a client or business and enjoy our service
      </h3>
    </div>
    <div class="large-6 medium-6 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_in"><img src = "../assets/images/login.png" class="circle icon-photo"></a>
      </div>
      <h3 class="mmargin mmargin-top text-center" >
        Welcome back and login into your existing account
      </h3>
    </div>
  </div>
  </div>
</div>

<div class="down-triangle-white"></div>



<div class="row centered-text" id="gray">

  <div class="small-8 large-centered columns text-center mmargin mmargin-top">
    <div class="fontwhite">

        <h2>Are you a trader or business?</h2>

        <h4 class="slim secondary">
    Sign up and create your portfolio.
        </h4>

    <div class="row centered-text">
        <div class="medium-2 large-2 columns">
          <div class="icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icorocket.png" /></a></div>
          <p>Are you an engineer?</p>
        </div>

        <div class="medium-2 large-2 columns">
          <div class="icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icotaylor.png"/></a></div>
          <p>Are you a taylor?</p>
        </div>
      <div class="medium-2 large-2 columns">
      <div class="icon-single trans hoverup">
          <a href=../users/sign_up"><img src="../assets/images/icopainter.png" /></a></div>
          <p>Are you a painter?</p>
        </div>
      <div class="medium-2 large-2 columns">
        <div class="icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/iconegineer.png" /></a></div>
          <p>Are you a mechanic?</p>
        </div>
      <div class="medium-2 large-2 columns">
        <div class="icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icobuilder.png" /></a></div>
          <p>Are you a builder?</p>
        </div>
      <div class="medium-2 large-2 columns">
        <div class="icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icogardener.png" /></a></div>
          <p>Are you a gardener?</p>
        </div>
      <div class="row centered-text">
          <div class="fontwhite">
            <h2>Sign up and try</h2>
          </div>
          <h4 class="slim secondary">
            <p>Are you one of them?</p>
            <a href = "../users/sign_up" input type="submit" class="button radius"> Try Now </a>
          </h4>
        </div>
      </div>
  </div>
    </div>

</div>

<div class="down-triangle-gray"></div>

<div class="row full-width">
    <div class="small-8 large-centered columns text-center h3white">
      <h2 class="mmargin mmargin-top text-center">
        We aim to assist property owners and businesses to come
        together in a neutral environment where experiences can
        be shared via a review system.
      </h2>
      <!--<img src="../assets/images/house.png" alt="home" />-->
      <br>
  </div>
</div>

<div class="down-triangle-white"></div>

</hr>

<div class="row icons" id="icons">
    <div class="small-8 large-centered columns text-center mmargin mmargin-top">
      <h2>
        Extra Help
      </h2>
      <h5 class = "slim secondary text-center">
        Choose one of the following options:
      </h5>
    <div class="large-4 medium-4 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_up"><img src = "../assets/images/write.png" class="circle icon-photo"></a>
      </div>
        <h4 class="mmargin mmargin-top text-center" id="whitefont">
          Contact Us
        </h4>
    </div>
      <div class="large-4 medium-4 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_up"><img src = "../assets/images/pen.png" class="circle icon-photo"></a>
      </div>
        <h4 class="mmargin mmargin-top text-center" id="whitefont">
          Privacy
        </h4>
    </div>
      <div class="large-4 medium-4 columns icon-single trans hoverup">
    <div class="text-center">
      <a href="../users/sign_up"><img src = "../assets/images/quest.png" class="circle icon-photo"></a>
    </div>
      <h4 class="mmargin mmargin-top text-center" id="whitefont">
        FAQ
      </h4>
  </div>
    </div>
  </div>

<div class="down-triangle-gray"></div>

<div class="row full-width">
  <div class="small-8 large-centered columns text-center">
    <h2 class="mmargin mmargin-top text-center">
      No job is too big or small...
    </h2>
    <!--<img src="../assets/images/house.png" alt="home" />-->
    <br>
  </div>
</div>

<div class="down-triangle-white"></div>

<div class="row centered-text" id="gray">
  <div class="large-12 columns">
<section class="centered-text">
  <div class="small-8 large-centered columns text-center mmargin mmargin-top">
      <h2>
        Recently requested jobs
      </h2>
    <br>
      <div class="large-3 small-12 columns">
        <div class="icon-single trans hoverup">
        <a href="../users/sign_up"><img src = "../assets/images/watch.gif"></a></div>
        <h6 class="panel panelcolor">The clock is going backwards. We need help!</h6>
      </div>
      <div class="large-3 small-12 columns">
        <div class="icon-single trans hoverup">
        <a href="../users/sign_up"><img src = "../assets/images/basket.gif"></a></div>
        <h6 class="panel panelcolor">This basket needs to be emptied and burned.</h6>
      </div>
      <div class="large-3 small-12 columns">
        <div class="icon-single trans hoverup">
        <a href="../users/sign_up"><img src = "../assets/images/wall.gif"></a></div>
        <h6 class="panel panelcolor">One light is switching on and off randomly.</h6>
      </div>

      <div class="large-3 small-12 columns ">
        <div class="icon-single trans hoverup">
        <a href="../users/sign_up"><img src = "../assets/images/window.gif"></a></div>
        <h6 class="panel panelcolor">We have a leaking window, please help.</h6>
      </div>

      </div>
  </section>
    </div>
  </div>