
<div class="row">

<!--<div class="row" id="banner">-->
    <!--<div class="small-8 large-centered columns">-->

      <!--<h2>-->
        <!--SIGN IN its FREE-->
      <!--</h2>-->
      <!--&lt;!&ndash;<img src="../assets/images/house.png" alt="home" />&ndash;&gt;-->
      <!--<br>-->
<!--</div>-->
<!--</div>-->

<div class ="row">
<div class="slider">
  <ul class="orbit" data-orbit>
    <li>
    <div class="12-large-columns columns text-center" id="head">
        <div id="tweeter" class="text-left secondary">
          <em>Hi and welcome to RENOmania! </em>
        </div>
    <h2 class="mmargin-top text-center">
      <!--<img src="../assets/images/icohouse.png" />-->
      We are building a base of reputable tradespeople
      and any other business that are involved with the
      building, repair, alteration and maintenance of
      what is essentially most people’s largest, most
      costly asset- their own home.
    </h2>
    <!--<img src="../assets/images/house.png" alt="home" />-->
    <br>
     <p><a href = "../users/sign_up" input type="submit" class="button radius"> Sign up </a></p>
    </div>
      </li>
    <li>
      <div class="12-large-columns columns text-center red" id="headred">
        <div id="tweeter" class="text-left secondary">
          <em>Hi and welcome to RENOmania! </em>
        </div>
        <h2 class="mmargin mmargin-top text-center">
          Tradespeople and business owners can build a portfolio
          of work while any one needing a job done around the home
          be it big or small can simply post up a job to the website
          and have people coming to them ready willing and able.

        </h2>
        <!--<img src="../assets/images/house.png" alt="home" />-->
        <br>
        <p><a href = "../users/sign_up" input type="submit" class="button radius"> Sign up </a></p>
      </div>
    </li>
    <!--<li>-->
      <!--<div class="12-large-columns columns text-center" id="head">-->
        <!--<div id="tweeter" class="text-left secondary">-->
          <!--<em>Hi and welcome to RENOmania! e</em>-->
        <!--</div>-->
        <!--<h2 class="mmargin mmargin-top text-center">-->
          <!--We aim to assist property owners and businesses to come-->
          <!--together in a neutral environment where experiences can-->
          <!--be shared via a review system.-->
        <!--</h2>-->
        <!--&lt;!&ndash;<img src="../assets/images/house.png" alt="home" />&ndash;&gt;-->
        <!--<br>-->
        <!--<p><input type="submit" class="button radius"></p>-->
      <!--</div>-->
    <!--</li>-->
    </ul>
  </div>
  </div>

<div class="down-triangle-white"></div>



<div class="row full-width centered-text" id="gray">

  <div class="small-8 large-centered columns text-center mmargin mmargin-top">
    <div class="h2color">
        <h2>Are you a trader or business?</h2>
     </div>
        <h4 class="slim secondary">
    Sign in and create your portfolio.
        </h4>

    <div class="row centered-text">
        <!--<div class="medium-6 large-3 columns icon-single trans hoverup">-->
          <!--<a href="../users/sign_up"><img src="../assets/images/icorocket.png" /></a>-->
          <!--<p>Do you need rocket engineer?</p>-->
        <!--</div>-->

        <!--<div class="medium-6 large-3 columns icon-single trans hoverup">-->
          <!--<a href="../users/sign_up"><img src="../assets/images/icotaylor.png"/></a>-->
          <!--<p>Do you need taylor?</p>-->
        <!--</div>-->
        <div class="medium-6 large-3 columns icon-single trans hoverup">
          <a href=../users/sign_up"><img src="../assets/images/icopainter.png" /></a>
          <p>Do you need painter?</p>
        </div>
        <div class="medium-6 large-3 columns icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/iconegineer.png" /></a>
          <p>Do you need engineer?</p>
        </div>
        <div class="medium-6 large-3 columns icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icobuilder.png" /></a>
          <p>Do you need builder?</p>
        </div>
        <div class="medium-6 large-3 columns icon-single trans hoverup">
          <a href="../users/sign_up"><img src="../assets/images/icogardener.png" /></a>
          <p>Do you need gardener?</p>
        </div>
      <div class="row centered-text">
          <div class="h2">
            <h2>Sign up and try</h2>
          </div>
          <h4 class="slim secondary">
            <p>Are you one of them?</p>
            <a href = "../users/sign_up" input type="submit" class="button radius"> Sign up </a>
          </h4>
        </div>
      </div>
    </div>
</div>

<div class="down-triangle-gray"></div>

<div class="row full-width">
    <div class="small-8 large-centered columns text-center">
      <h2 class="mmargin mmargin-top text-center">
        We aim to assist property owners and businesses to come
        together in a neutral environment where experiences can
        be shared via a review system.
      </h2>
      <!--<img src="../assets/images/house.png" alt="home" />-->
      <br>
  </div>
</div>

<div class="down-triangle-white"></div>

</hr>

<div class="row icons" id="icons">
    <div class="small-8 large-centered columns text-center mmargin mmargin-top">
      <h2>
        Hello there
      </h2>
      <h5 class = "slim secondary text-center">
        Sign in and create your portfolio
      </h5>
    <div class="large-4 medium-4 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_up"><img src = "../assets/images/write.png" class="circle icon-photo"></a>
      </div>
        <h5 class="mmargin mmargin-top text-center">
          We aim to assist property owners and businesses to come
        </h5>
    </div>
      <div class="large-4 medium-4 columns icon-single trans hoverup">
      <div class="text-center">
        <a href="../users/sign_up"><img src = "../assets/images/pen.png" class="circle icon-photo"></a>
      </div>
        <h5 class="mmargin mmargin-top text-center">
          We aim to assist property owners and businesses to come
        </h5>
    </div>
      <div class="large-4 medium-4 columns icon-single trans hoverup">
    <div class="text-center">
      <a href="../users/sign_up"><img src = "../assets/images/quest.png" class="circle icon-photo"></a>
    </div>
      <h5 class="mmargin mmargin-top text-center">
        We aim to assist property owners and businesses to come
      </h5>
  </div>
    </div>
  </div>

<div class="down-triangle-gray"></div>

<div class="row full-width">
  <div class="small-8 large-centered columns text-center">
    <h2 class="mmargin mmargin-top text-center">
      We aim to assist property owners and businesses to come
      together in a neutral environment where experiences can
      be shared via a review system.
    </h2>
    <!--<img src="../assets/images/house.png" alt="home" />-->
    <br>
  </div>
</div>

<div class="down-triangle-white"></div>

<div class="row full-width" id="contact">
  <div class="small-8 large-centered columns text-center">
    <h2 class="mmargin mmargin-top text-center">
       <h3>Get in Touch!</h3>
        <p>We'd love to hear from you. You can either reach out to us as a whole and one of our awesome team members will get back to you, or if you have a specific question reach out to one of our staff. We love getting email all day
          <em>all day</em>.</p>
      </h2>
        <div class="section-container tabs" data-section>
            <h5 class="title"><a href="#panel1">Contact Our Company</a></h5>
            <div class="content" data-slug="panel1">
              <form>
                <div class="row collapse">
                  <div class="large-2 columns">
                    <label class="inline">Your Name</label>
                  </div>
                  <div class="large-10 columns">
                    <input type="text" id="yourName" placeholder="Jane Smith">
                  </div>
                </div>
                <div class="row collapse">
                  <div class="large-2 columns">
                    <label class="inline"> Your Email</label>
                  </div>
                  <div class="large-10 columns">
                    <input type="text" id="yourEmail" placeholder="jane@smithco.com">
                <label>What's up?</label>
                <textarea rows="4"></textarea>
                  </div>
                </div>
                <button type="submit" class="radius button">Submit</button>
              </form>
            </div>
        </div>
       </div>
    </div>
</div>




