
<div class="row full-width">
  <div class="twelve columns">

    <div class="large-5 columns">
          <p><img src="/assets/images/renomaniawhite.png" /></p>
          <p>&copy; renomania.co.nz | <a href="#">Privacy Policy</a></p>
        </div>

        <div class="small-2 columns">
          <p><%= link_to 'About us', static_pages_about_path%></p>
          <p><%= link_to 'Contact us', static_pages_contact_path%></p>
          <p><%= link_to 'Privacy', static_pages_privacy_path%></p>
          <p><%= link_to 'Faq', static_pages_faq_path%></p>
          <!--<p><a href="#">Home</a></p>-->
          <!--<p><a href="#">About Us</a></p>-->
          <!--<p><a href="#">Faq</a></p>-->
          <!--<p><a href="#">Contact Us</a></p>-->
          <!--<p><a href="#">Sign Up</a></p>-->
        </div>
        <div class="large-2 columns">
          <p><a href="http://twitter.com"><img src="/assets/images/webicon-twitter-m.png" align="absmiddle" /> Twitter</a></p>
          <p><a href="http://facebook.com"><img src="/assets/images/webicon-facebook-m.png" align="absmiddle" /> Facebook</a></p>
          <p><a href="#"><img src="/assets/images/webicon-mail-m.png" align="absmiddle" /> Email Us</a></p>
        </div>
        <div class="large-3 columns">
          <p>Newsletter:</p>
          <p><input type="text" value="Email Address"><input type="submit" class="tiny button radius right"></p>
        </div>

   </div>
</div>
</div>

  <!--<script src="stickyFooter.js"></script>-->

